{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if form.errors %}
    <h1>{% trans "Please correct the following errors" %}</h1>
  {% else %}
    <h1>{% trans "Submit" %}</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form }}
      </table>
      <input type="hidden" name="{{ stage_field }}" value="1"/>
      <p>
        <input type="submit" value="{% trans "Submit" %}"/>
      </p>
    </form>
    <table class="product_list_table">
      <thead>
        <tr>
          <th>{% trans 'Image' %}</th>
          <th>{% trans 'Product' %}</th>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Quantity' %}</th>
          <th>{% trans 'Remove' %}</th>
          <th>{% trans 'Unit price' %}</th>
          <th>{% trans 'Price' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <td>
              {% for img in item.pair.product.images.all %}
                <img class="small_image_edit" src="{{ img }}" alt="Picture">
              {% endfor %}
            </td>
            <td>{{ item.pair.product.name }}</td>
            <td>{{ item.pair.get_available_pair }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <a href="{% url 'cart:cart_remove' pk=item.pair.id %}">{% trans 'Remove' %}</a>
            </td>
            <td class=" num">{{ item.price }}
              PLN</td>
            <td class="num">{{ item.total_price }}
              PLN</td>
          </tr>
        {% endfor %}
        <tr class="total">
          <td>{% trans 'Total' %}</td>
          <td colspan="5"></td>
          <td class="num">
            {{ cart.get_total_price }}
            PLN
          </td>
        </tr>
      </tbody>
    </table>
  {% endblock content %}